@media only screen and (max-width: 1024px) {
    
    .nav-main{display: none;
      
    }
  }

@media (max-width:700px) {
    .right-block{
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }
    
}
@media (max-with:700px){

    .first-line{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
}